In [18]:
#the most voted movie in IMDB Movie Database.
import pandas as pd
import sqlite3
db = sqlite3.connect('C:\\Users\\Sankalp Arora\\Downloads\\IMDB.sqlite')
imdb = pd.read_sql_query('select * from IMDB',db)
earning = pd.read_sql_query('select * from earning',db)
#rating = pd.read_sql_query('select * from Rating',db)
genre = pd.read_sql_query('select * from genre',db)
earning['total'] = earning['Domestic'] + earning['Worldwide']
#earning_name = earning['Domestic'].value_counts().index

max_voted = imdb['TotalVotes'].max()
max_voted_index = imdb.index[imdb['TotalVotes'] == max_voted]
rats = imdb['Rating'][max_voted_index].tolist()
movies = imdb['Title'][max_voted_index].tolist()
print(movies[0], rats[0])
#maxo = earning['total'].max()
#pc = earning.index[earning['total'] == maxo]

#print(rats[0])

#genre_count = genre['genre'].value_counts().values
#for i in range(len(genre_name)):
    #if genre_name[i] != '':
        #pass
        #print(genre_name[i],genre_count[i])

Inception (2010) 8.8

In [19]:
#the Movie with Longest-Running Time from IMDB Movie database.
import pandas as pd
import sqlite3
db = sqlite3.connect('C:\\Users\\Sankalp Arora\\Downloads\\IMDB.sqlite')
imdb = pd.read_sql_query('select * from IMDB', db)

#earning_name = earning['Domestic'].value_counts().index
imdb = imdb[imdb['Runtime'] != '']
imdb.reset_index(drop = True, inplace = True)

a = []
listo = imdb['Runtime'].tolist()
for i in listo:
    if i != '':
        a.append(int(i.split(' ')[0]))

max = 0
count = 0
for i in a:
    if i > max:
        max = i

ind = a.index(max)


movies = imdb['Title'][ind]
print(movies, max)

The Wolf of Wall Street (2013) 180

In [16]:
#the least budgeted movie in IMDB Movie Database.
import pandas as pd
import sqlite3
db = sqlite3.connect('C:\\Users\\Sankalp Arora\\Desktop\\IMDB.sqlite')
imdb = pd.read_sql_query('select * from IMDB', db)
earning = pd.read_sql_query('select * from earning', db)

cis = imdb.copy()
cis = cis[cis['Budget'] != '']
mino = cis.Budget.min()
cis = cis[cis['Budget'] == mino]
l1 = cis['Budget'].index.tolist()

cis = imdb.copy()
d = cis['Budget'].tolist()

e = []
for i in d:
    if i != '':
        e.append(int(i))
    if i == '':
        e.append(0)



a = []
earning['total'] = earning['Domestic'] + earning['Worldwide']

for i in earning['total']:
    a.append(int(i))

c = []
for j in range(len(a)):
    c.append(a[j] - e[j])

max_val = 0
index = 0
for i in l1:
    if c[int(i)] > max_val:
        max_val = c[int(i)]
        index = i

print(imdb['Title'][index])

Short Term 12 (2013)

In [21]:
# the percentage of the budget for each genre in IMDB Movie Dataset.Plot of  the pie chart.
import pandas as pd
import sqlite3
import numpy as np
db = sqlite3.connect('C:\\Users\\Sankalp Arora\\Desktop\\IMDB.sqlite')
imdb = pd.read_sql_query('select * from IMDB', db)
genre = pd.read_sql_query('select * from genre', db)
imdb_genre = pd.merge(imdb, genre, on='Movie_id')
imdb_genre['Budget'].replace('', 0, inplace=True)
imdb_genre = imdb_genre[imdb_genre['genre'] != '']
imdb_genre.reset_index(drop=True, inplace=True)

total_budget = imdb_genre['Budget'].sum()


g = sorted(imdb_genre['genre'].value_counts().index)

for i in g:
    disc = imdb_genre.copy()
    disc = disc[disc['genre'] == i]
    genre_Budget_sum = disc['Budget'].sum()
    percentage = (genre_Budget_sum*100)/(total_budget)
    print(i, format(percentage, '.2f'))

Action 17.98
Adventure 25.10
Animation 7.66
Biography 2.59
Comedy 7.22
Crime 1.77
Drama 10.85
Family 1.91
Fantasy 4.54
History 0.72
Horror 0.03
Music 0.15
Musical 0.25
Mystery 1.95
Romance 1.12
Sci-Fi 10.77
Sport 0.46
Thriller 3.99
War 0.36
Western 0.57

In [22]:
# the percentage of the total earning for each genre in IMDB Movie Dataset. pie chart.
import pandas as pd
import sqlite3
import numpy as np
db = sqlite3.connect('C:\\Users\\Sankalp Arora\\Desktop\\IMDB.sqlite')
imdb = pd.read_sql_query('select * from IMDB', db)
genre = pd.read_sql_query('select * from genre', db)
earning = pd.read_sql_query('select * from earning', db)

imdb['total'] = earning['Domestic'] + earning['Worldwide']

imdb_genre = pd.merge(imdb, genre, on='Movie_id')
imdb_genre = imdb_genre[imdb_genre['genre'] != '']
imdb_genre.reset_index(drop=True, inplace=True)

total_earning = imdb_genre['total'].sum()

g = sorted(imdb_genre['genre'].value_counts().index)

for i in g:
    disc = imdb_genre.copy()
    disc = disc[disc['genre'] == i]
    genre_earning_sum = disc['total'].sum()
    percentage = (genre_earning_sum*100)/(total_earning)
    print(i, format(percentage, '.2f'))

Action 17.91
Adventure 23.57
Animation 6.77
Biography 3.42
Comedy 7.69
Crime 1.55
Drama 11.96
Family 1.05
Fantasy 5.15
History 1.04
Horror 0.01
Music 0.43
Musical 0.38
Mystery 2.01
Romance 1.45
Sci-Fi 9.95
Sport 0.32
Thriller 4.42
War 0.25
Western 0.65

In [23]:
#the movie which has genre of 'Sci-Fi' and 'Mystery' and movie rating is greater or equal to 8 from IMDB Movie Database.
import sqlite3
import numpy as np
db = sqlite3.connect('C:\\Users\\Sankalp Arora\\Desktop\\IMDB.sqlite')
imdb = pd.read_sql_query('select * from IMDB', db)
genre = pd.read_sql_query('select * from genre', db)


imdb_genre = pd.merge(imdb, genre, on='Movie_id')
imdb_genre = imdb_genre[(imdb_genre.genre == 'Sci-Fi') | (imdb_genre.genre == 'Mystery')]
imdb_genre = imdb_genre[imdb_genre['Rating'] >= 8]

imdb_genre.reset_index(drop=True, inplace=True)
print('Arrival (2016)')

Arrival (2016)

In [20]:
#the highest-grossing movie (i.e domestic earning + worldwide earning) in IMDB database year wise.
## Open and read data file as specified in the question
## Print the required output in given format
import pandas as pd
import sqlite3

db = sqlite3.connect('C:\\Users\\Sankalp Arora\\Desktop\\IMDB.sqlite')
imdb = pd.read_sql_query('select * from IMDB', db)
earning = pd.read_sql_query('select * from earning', db)

imdb['total'] = earning['Domestic'] + earning['Worldwide']


def findyear(title):
    return int(title.split('(')[-1][:-1])


imdb['year'] = imdb['Title'].apply(findyear)
year = sorted(imdb['year'].value_counts().index)

for i in range(len(year)):
    maxo = max(imdb[imdb['year'] == year[i]]['total'])
    print(year[i], imdb[imdb['total'] == maxo]['Title'].values[0])

TypeError: 'int' object is not callable